.about-screen {
  &__avatar {
    box-shadow:
      4px 4px 0 white,
      -4px -4px 0 white;
    display: block;
    height: auto;
    width: 130px;
  }

  &__name {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  &__desc {
    font-size: 0.75rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  &__socials {
    display: flex;
    list-style: none;
    font-size: 0.75rem;
    gap: 16px;
  }

  &__link {
    color: var(--color-gold);
  }
}
