.menu-screen {
  background-color: var(--color-black);

  &::before {
    animation: scale-out 0.25s ease forwards;
    background-color: var(--color-black);
    border-radius: 50%;
    content: "";
    height: 100vw;
    width: 100vw;
    position: absolute;
    pointer-events: none;
  }

  &__title {
    text-shadow: 0 0 0.75rem currentColor;
    font-size: 5rem;
    margin-bottom: 92px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    color: var(--color-white);
    font-size: 24px;
    padding: 16px;
    text-align: center;
    text-shadow: 0 0 0.25rem currentColor;

    &:hover,
    &:focus-visible {
      color: var(--color-gold);
    }

    &:focus-visible {
      outline: none;

      &::before {
        animation: move-vertical 0.5s alternate infinite steps(2);
        content: ">";
        position: absolute;
        margin-left: -2.5rem;
      }
    }
  }

  &__copy {
    font-size: 14px;
    position: absolute;
    bottom: 16px;
    text-shadow: 0 0 0.2rem currentColor;
  }
}
