*,
*:hover {
  cursor: none;
}

.cursor {
  $size: 12px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  height: $size;
  mix-blend-mode: difference;
  position: fixed;
  pointer-events: none;
  scale: var(--cursor-scale, 1);
  transition: scale 0.1s;
  width: $size;
  z-index: 1000;

  &__hover {
    --cursor-scale: 1.5;
    --dot-scale: 1;
  }

  &__down {
    --dot-scale: 0.2;
  }

  &::before {
    border-radius: 50%;
    background-color: var(--color-white);
    content: "";
    height: $size;
    left: 50%;
    position: absolute;
    scale: var(--dot-scale, 0);
    translate: -50% -50%;
    transition: scale 0.1s;
    top: 50%;
    width: $size;
  }
}
