*,
*:hover {
  cursor: none;
}

.cursor {
  $size: 12px;
  border: 2px solid var(--color-white);
  border-radius: 50%;
  height: $size;
  mix-blend-mode: difference;
  position: fixed;
  pointer-events: none;
  scale: var(--cursor-scale, 1);
  transition: scale 0.1s;
  width: $size;
  z-index: 1000;
}

body:has(:is(button, a):hover) .cursor {
  --cursor-scale: 1.5;
}
