#game-container {
  background-color: var(--color-black);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  & canvas {
    display: block;
    // filter: blur(1px) brightness(1.2);
    filter: blur(3px) brightness(1.5);
  }
}
