@use "../utils/shared";

.highscore {
  @extend %text-shadow;
  @extend %spaced-text;
  bottom: 60px;
  font-size: 1rem;
  position: absolute;

  &__title {
    font-size: inherit;
    margin-bottom: 10px;
  }

  &__points {
    @extend %golden-text;
  }

  &__new {
    color: var(--color-red);
    text-shadow: 0 0 0.3125rem currentColor;
    margin-top: 1rem;
  }
}
