.indicator {
  animation: scoring 0.8s 1 ease forwards;
  text-shadow:
    0 0 0.3125em currentColor,
    0.125em 0.125em var(--color-black);
  font-weight: 600;
  font-size: clamp(1rem, 1.6vw, 2rem);
  position: absolute;
  z-index: 1;
}
