@keyframes hit {
  from {
    transform: scale(1.4);
  }
  to {
    transform: scale(0.9);
  }
}

.life-icon {
  --icon-size: 26px;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--color-white);
  border-radius: 50%;
  box-shadow: 0 0 8px var(--color-white);

  &--empty {
    animation: hit 0.5s ease-out forwards;
    background-color: var(--color-black);
    border: 2px solid var(--color-white);
  }
}
