.display {
  position: absolute;
  left: var(--padding);
  top: var(--padding);

  &__label {
    padding-bottom: 16px;
    display: block;
  }

  &__content {
    display: flex;
    gap: 16px;
  }
}
