.live-icon {
  --icon-size: 30px;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--color-white);
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 0 5px var(--color-white);
}
