.pause-screen {
  backdrop-filter: blur(3px) brightness(0.8);
  text-shadow: 0 0 0.188rem currentColor;

  &__title {
    font-size: 3rem;
    letter-spacing: 0.313rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }

  &__text {
    animation: blink 1.2s steps(2, jump-none) infinite;
  }
}
