@use "./base/reset";
@use "./base/variables";
@use "./base/fonts";
@use "./base/base";

@use "./components/game-container";
@use "./components/screen";
@use "./components/game-over";
@use "./components/pause-btn";
@use "./components/scoreboard";
@use "./components/highscore";
@use "./components/start-screen";
@use "./components/pause-screen";
@use "./components/score";

@use "./utils/animations";
@use "./utils/accessibility";
@use "./utils/utility";

.key,
.highscore__points {
  color: var(--color-gold);
}

.highscore,
.start-screen__title,
.gameover-screen__btn {
  text-shadow: 0 0 0.125rem currentColor;
}

.highscore,
.start-screen {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
