/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  /* Base colors */
  --color-white: #fff;
  --color-black: #000;

  /* Element colors */
  --color-body-bg: var(--color-black);
  --color-body-text: var(--color-white);

  --color-restart-screen-bg: var(--color-white);
  --color-restart-title-text: var(--color-black);
  --color-restart-btn-bg: var(--color-white);
  --color-restart-btn-border: var(--color-black);

  /* Fonts */
  --font-primary: "Press Start 2P", sans-serif;
}

/* Font Config */
@font-face {
  font-display: swap;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

/* Animations */
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scoring {
  0% {
    transform: translate(-50%, -100%);
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -260%);
    opacity: 0;
  }
}

@keyframes move-bg {
  100% {
    background-position: 15px 15px;
  }
}

/* General Styles */
body {
  animation: move-bg 0.8s infinite linear;
  background-color: black;
  background-image: radial-gradient(white 0.6px, transparent 0.6px);
  background-size: 15px 15px;
  color: var(--color-body-text);
  overflow: hidden;
}

body,
button {
  cursor: url("../assets/images/crosshair.png") 16 16, auto;
  font-family: var(--font-primary);
}

#game-container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 32px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.scoreboard {
  font-size: 1.5rem;
  line-height: 1;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 5px currentColor;
  top: 5px;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.start-screen {
  letter-spacing: 2px;
  text-transform: uppercase;
  user-select: none;
}

.start-screen__main-title {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.start-screen__title {
  animation: blink 0.9s steps(2, jump-none) infinite;
  font-size: 1.25rem;
}

.gameover-screen {
  animation: blink 0.08s;
  background-color: var(--color-restart-screen-bg);
}

.gameover-screen__title {
  color: var(--color-restart-title-text);
  font-size: 3rem;
  margin-bottom: 5rem;
  user-select: none;
}

.gameover-screen__btn {
  border: 3px solid var(--color-restart-btn-border);
  background-color: var(--color-restart-btn-bg);
  font-size: 2rem;
  padding: 15px 20px;
  transition: all 0.2s;
}

.gameover-screen__btn:hover {
  background-color: var(--color-restart-btn-border);
  color: var(--color-restart-btn-bg);
}

.pause-screen {
  backdrop-filter: blur(3px);
}

.pause-screen h2 {
  animation: blink 0.9s steps(2, jump-none) infinite;
  text-shadow: 0 0 5px black;
  text-transform: lowercase;
}

.highscore {
  bottom: 60px;
  position: absolute;
}

.highscore__title {
  margin-bottom: 10px;
}

.score {
  animation: scoring 0.8s 1 ease forwards;
  text-shadow: 0 0 5px currentColor, 2px 2px var(--color-black);
  font-weight: 600;
  font-size: 1rem;
  position: absolute;
  user-select: none;
  z-index: 1;
}

.hide {
  display: none;
}
