:root {
  /* Base colors */
  --color-white: #FFF;
  --color-black: #000;

  /* Element colors */
  --color-body-bg: var(--color-black);
  --color-body-text: var(--color-white);
  
  --color-restart-screen-bg: var(--color-white);
  --color-restart-title-text: var(--color-black);
  --color-restart-btn-bg: var(--color-white);
  --color-restart-btn-border: var(--color-black);

  /* Fonts */
  --font-primary: "Press Start 2P", sans-serif;
}